.content {
  margin: auto;
  min-height: 100vh;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.grid {
  height: 60%;
  width: 60%;
  background-color: white;
}
